{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": ["error", {
        "functions": "ignore"
      }
    ],
    "react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "no-console": 0,
    "react/react-in-jsx-scope": "error",
    "react/jsx-no-bind": ["error", {
      "allowArrowFunctions": true,
      "allowBind": false,
      "ignoreRefs": true
    }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/webpack.config.dev.js"
      }
    }
  },
  "globals": {
    "config": true
  }
}
